@import "styles/mixins.scss";
@import "styles/colors.scss";

.page {
    background-color: $primary-background;
    @include page;
}

.paymentInfo {
    height: 100%;
}

.title {
    color: $accent-text;
}

.ticketInfo {}

.count {
    text-align: right;
}

.check {
    grid-template-columns: 300px 1fr;

    @media (max-width: 991px) {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
    }
}

.payment {
    display: flex;
    gap: 24px;
}

.services {
    flex: 1;
}

.form {
    height: 100%;
}

.confirmBtn {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.bookBtn {
    position: absolute;
    bottom: 0px;
}