@import "styles/mixins.scss";
@import "styles/colors.scss";

.page {
    background-color: $primary-background;
    @include page;
}

.paymentInfo {
    height: 100%;
}

.title {
    color: $accent-text;
}

.ticketInfo {
    max-width: 300px;
}

.count {
    text-align: right;
}

.check {
    display: flex;
    gap: 16px;
}

.payment {
    display: flex;
    gap: 24px;
}

.services {
    flex: 1;
}

.form {
    height: 100%;
}

.confirmBtn {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.bookBtn {
    position: absolute;
    bottom: 0px;
}