@import "styles/colors.scss";

.slogan {
    display: flex;
    justify-content: center;
}

.sloganText {
    font-size: 36px;
    color: $accent-text  !important;
}

.searchBar {
    margin-top: 48px;
}