@import "styles/colors.scss";

.page {
    background-color: $primary-background;
    height: 100vh;
    padding: 32px;
}

.wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    h1 {
        font-family: "Bold";
        font-size: 200px;
        font-weight: 800;
    }

    h1,
    h2 {
        color: $accent-text;
    }
}