@import "styles/colors.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.headerTitle {
    color: $accent-text;
    font-size: 24px;
}

.headerLogo {
    height: 56px;
    width: 56px;
}

.avatar {
    background-color: $focus-background;
}