@import "styles/colors.scss";

.ticketSearchBar {
    min-height: 88px;
    background-color: $accent-background;
    border-radius: 16px;
    padding: 16px;
}

.destInput {
    flex: 0 1;
}

.dateInput {
    flex: 0 130px;
}

.searchBtn {
    width: 100%;
}