@import "styles/mixins.scss";

.homePage {
    display: flex;
    flex-direction: column;
    @include page;
}

.loader {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ticketList {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
}